.main {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Verdana', sans-serif;
  font-size: 13px;
  color: #faf8f0;
  background-color: #1E1E1E;
  padding: 10px 25px;

  .something{
    color: #ba8fff;
  }

  
  h3{
    color: #1cd2f1;
  }

  h2{
    color: #92e44f;
  }

  .subh4{
    color: #eda828;
  }

  .func_res {
    color:#cd62e2;
  }

  .res_word {
    color: #467ec4;
  }

  .comp{
    color: #4EC9A2;
  }

  .error{
    color: #f25454;
  }

  .texto {
    color: #dc9244;
  }

  .comentario {
    font-style: italic;
    color:#4e9e4e;
    background-color: #232428;
  }

  .nota {
    background-color: #ffffcc;
    color: #1E1E1E;
    padding: 10px;
    border-radius: 5px;
  }

  .syntax{
    font-family: 'Consolas',"courier new";  
    border: 1px solid #faf8f0;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
    block-size: fit-content;
  }

  table{
    border: solid 2px #464646;
  }

  tr:nth-child(even){
    background-color: #292929;
  }

  th{
    padding: 0 10px 0 10px;
  }

  td{
    /* width:150px; */
    border:2px solid #464646;
    padding: 3px 10px;
  }

  .var{
    color: #9cdcfe;
  }

  .function{
    color: #ffffcc;
  }

  .dom_res{
    color: #4ec9b0;
  }

  .num{
    color: #b5cea8;
  }
}